body {
  font-family: sans-serif;
  line-height:1.5em;
  box-sizing: border-box;
  background-color: #f8f7f7;
}

.title {
  text-align: center;
  font-family: copperplate;
  font-size: 64px;
}

.subtitle{
  text-align: center;
  font-family: fantasy;
}

.dish-list{
  list-style-type: none;
  display: flex;
}

/* Page's content */
img{
  width: 500px;
  height: auto;
}

.description{
  background-color: honeydew;
  width: 500px;
}

.ingredients{
  background-color: azure;
  width: 500px;
}

.steps{
  background-color: aliceblue;
  width: 500px;
}
/* ======= */

/* Index Page */
.dish-container{
  width: 1200px;
  height: 500px;
}

.chaliapin-view,
.furikake-view,
.gyoza-view{
  /* border: 1px dotted black; */
  padding: 10px; 
  margin-top: 100px;
  text-align: center;
}

.chaliapin-view,
.gyoza-view{
  margin-top: 65px;
}
.furikake-view{
  margin-top: 40px;
}

.chaliapin,
.furikake,
.gyoza{
  background-color: #e7e7e7;
  margin: 10px auto;
  width: 360px; 
  height: 450px;
}

.chaliapin2,
.furikake2,
.gyoza2{
  font-family: fantasy, papyrus;
  text-align: center;
  margin-top: 15px;
  font-size: 25px;
}

.chaliapin-img,
.furikake-img,
.gyoza-img{
  width: 300px;
  height: auto;
  margin-left: 25px;
  margin-top: 10px;
  border: inset 3px black;
}

.chaliapin-text,
.furikake-text,
.gyoza-text{
  text-align: left;
  padding: 0px 25px;
  border: purple;
}