body {
  font-family: sans-serif;
  line-height:1.5em;
}

.title {
  text-align: center;
}

.dish-list{
  list-style-type: none;
  margin:0;
  padding:0;
}

img{
  width: 500px;
  height: auto;
}

.description{
  background-color: honeydew;
  width: 500px;
}

.ingredients{
  background-color: azure;
  width: 500px;
}

li{
  margin-bottom: 10px;
}

.steps{
  background-color: aliceblue;
  width: 500px;
}

